<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
<script type="text/javascript">
    $(document).ready(function(e){
        console.log("t1");
     $("#edit-button").click(function(){
         console.log("t2");
       $(".editBox" ).toggle(); 
    });
});
</script> -->
<h2 *ngIf="itemList.length==0">Lista este goala</h2>
<div>  
    <ul class="list-group">   
        <li class="list-group-item" *ngFor="let item of itemList.reverse()">{{item.name}}
            <button class="input-group-text ml-auto mr-1" (click)="onDeleteItem(item.id)">Delete</button>
            <input type="text" class="edit-text" placeholder="{{item.name}}" [(ngModel)]="editText">
            <button id="edit-button" (click)="onEditItem(item.id)">Update</button>
        </li>  
    </ul>  
</div>

